<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Z-TODO</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

	<!-- FontAwesome -->
	<link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css">

	<!-- Fonts -->
	<link rel="stylesheet" type="text/css" href="/bower_components/ubuntu/ubuntu.css">
	<link rel="stylesheet" type="text/css" href="/bower_components/roboto/roboto.css">

    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
</head>
