<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Z-TODO</title>

	<!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
	<h1>Hi! Welcome to my Z-TODO app</h1>

</body>
</html>
