<!-- Include global header -->
<% include partials/header.ejs %>

<body>
	<main class="home-page">
		<div id="index"></div>
	</main>

	<script type="text/javascript" src="/dist/index-bundle.js"></script>
<!-- Include global footer -->
<% include partials/footer.ejs %>
