<!-- Include global header -->
<% include partials/header.ejs %>

<body>
	<main class="home-page">
		<section class="app-title">
			<h1>Z</h1>
			<h2>TODO</h2>
		</section>
		<section class="log-in">
			<form class="material-design">
				<h1>LOG IN</h1>
				<input placeholder="Username" type="text" required="" />
				<input placeholder="Password" type="password" required="" />
				<button>SUBMIT</button>
			</form>
			<footer>Created with <span></span> by Zico Deng</footer>
		</section>
	</main>

<!-- Include global footer -->
<% include partials/footer.ejs %>
