<!-- Include global header -->
<% include partials/header.ejs %>

<body class="todo">
	<main>
		<div id="app" class="todo"></div>
	</main>

	<!-- Include bundle.js for react app only -->
	<script type="text/javascript" src="/dist/bundle.js"></script>
<!-- Include global footer -->
<% include partials/footer.ejs %>
