<!-- Include global header -->
<% include partials/header.ejs %>

<body class="todo">
	<main>
		<div id="app" class="todo"></div>
	</main>
	
<!-- Include global footer -->
<% include partials/footer.ejs %>
