// Color
$facebook-blue: #3B5998;
$alert-red: #A40000;

// Typography
$base-text-font-family: 'roboto', sans-serif;
$base-title-font-family: 'ubuntu', sans-serif;
$base-font-size: 18px;

// Media query break point
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1200px;
