section.app-title {
	@extend %left-half;

	h1 {
		font-size: 500px;
		font-family: $base-title-font-family;

		@include respond-to($breakpoint-tablet) {
			font-size: 250px;
		};
	}

	h2 {
		font-size: 100px;
		margin-top: -50px;
		font-family: $base-title-font-family;

		@include respond-to($breakpoint-tablet) {
			font-size: 50px;
			margin-top: -25px
		};
	}
}

%switch-state {
	> p {
		cursor: pointer;
		&:hover {
			color: $facebook-blue;
		}

		@include respond-to($breakpoint-tablet) {
			margin-bottom: 30px;
		};
	}
}

.log-in {
	@extend %right-half;
	@extend %switch-state;
}

.sign-up {
	@extend %right-half;
	@extend %switch-state;
	> form {
		margin: 0 auto 30px;
	}
}

.index-error {
	position: fixed;
	top: 50%;
	left: 50%;
}
