section.app-title {
	@extend %left-half;

	h1 {
		font-size: 500px;
		font-family: $base-title-font-family;

		@include respond-to($breakpoint-tablet) {
			font-size: 250px;
		};
	}

	h2 {
		font-size: 100px;
		margin-top: -50px;
		font-family: $base-title-font-family;

		@include respond-to($breakpoint-tablet) {
			font-size: 50px;
			margin-top: -25px
		};
	}
}

.log-in {
	@extend %right-half;
}
